<app-header></app-header>
<div class="layout-main">
<app-left-sidebar></app-left-sidebar>
<div class="dashboardPage"></div>
<div class="dashboardPage">
  <div class="layout-content">
      <div class="layout-content-body">
          <div class="title-bar">
              <h1 class="title-bar-title">
                <span class="d-ib">Dashboard</span>
              </h1>
          </div>
          <div class="row gutter-xs">
              <div class="col-xs-12">
                  <div class="card">
                      <div class="card-header">
                          <div class="card-actions">
                              <button type="button" class="card-action card-toggler" title="Collapse"></button>
                              <button type="button" class="card-action card-reload" title="Reload"></button>

                          </div>
                          <strong>Report List</strong>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class='col-lg-10 col-md-9 col-sm-12 col-xs-12'></div>
                          <div class='col-lg-2 col-md-3 col-sm-12 col-xs-12'>
                              <div class="xsl">
                                <span><select class="form-control">
                                      <option>Daily</option>
                                      <option>Monthly</option>
                                      <option>Weekly</option>
                                      <option>Yearly</option>
                                    </select></span>
                              </div>
                          </div>
                        </div>
                          
                          <div class="row gutter-xs">
                            <div class="col-md-4">
                              <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                                         </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                  <div class="card-body">
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
                                           </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="chartContainer3" style="height: 370px; width: 100%;"></div>
                                             </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<app-footer></app-footer>
</div>

<div id="viewSeller" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header bg-primary">
           <button type="button" class="close" data-dismiss="modal">
             <span aria-hidden="true">×</span>
             <span class="sr-only">Close</span>
           </button>
           <h4 class="modal-title">Seller full detail</h4>
         </div>
         <div class="modal-body provider-detail">
          <div class="row">
           <div class="col-md-6">
             <div class="card text-center">
               <div class="card-image">
                 <div class="overlay">
                 </div>
               </div>
               <div class="card-avatar text-left">
                 <a class="card-thumbnail rounded" style="width: 150px;height: 160px;overflow: hidden;" href="#">
                   <img class="img-responsive" src="img/8447261358.jpg" alt="Instagram">
                 </a>
               </div>
               <div class="card-body">
                 <h3 class="card-title text-left">Seller name</h3>
                 <p class="card-text text-left">
                   <span class="app-users">
                    <span class="icon icon-map-marker"></span>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel harum sequi,
                     
                   </span>
                 </p>
               </div>
             </div>
           </div>
           <div class="col-md-6">
                 <div class="card">
                   <div class="card-body">
                     <ul class="media-list">
                       <li class="media">
                         <div class="media-middle media-body">
                           <h4 class="m-y-0">Phone number</h4>
                           <small>987862254</small>
                         </div>
                       </li>
                       <li class="media">
                         <div class="media-middle media-body">
                           <h4 class="m-y-0">Country</h4>
                           <small>India</small>
                         </div>
                       </li>
                       <li class="media">
                         <div class="media-middle media-body">
                           <h4 class="m-y-0">City</h4>
                           <small>Delhi</small>
                         </div>
                       </li>
                       <li class="media">
                         <div class="media-middle media-body">
                           <h4 class="m-y-0">Email</h4>
                           <small>seller@gmail.com</small>
                         </div>
                       </li>
                     </ul>
                   </div>
                 </div>
               </div>
          </div>
         </div>
         <div class="modal-footer"></div>
       </div>
     </div>      
   </div>
   <div id="addUser" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header bg-primary">
           <button type="button" class="close" data-dismiss="modal">
             <span aria-hidden="true">×</span>
             <span class="sr-only">Close</span>
           </button>
           <h4 class="modal-title">Add new Subadmin</h4>
         </div>
         <div class="modal-body provider-detail">
          <div class="row">
           <div class="col-xs-12">
            <form class="form">
                   <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="" class="control-label">Select Region</label>
                              <select class="form-control">
                                  <option>Choose</option>
                                  <option>Choose</option>
                                  <option>Choose</option>
                                  <option>Choose</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="" class="control-label">Select Region</label>
                                <select class="form-control">
                                    <option>Choose</option>
                                    <option>Choose</option>
                                    <option>Choose</option>
                                    <option>Choose</option>
                                </select>
                            </div>
                          </div>
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="" class="control-label">Select User Type</label>
                                  <div class="radio">
                                      <label>
                                        <input type="radio" name="message" value="none"> Admin
                                      </label>
                                  </div>
                                  <div class="radio">
                                      <label>
                                        <input type="radio" name="message" value="none"> Subdamin
                                      </label>
                                  </div>
                              </div>
                          </div> 
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="" class="control-label">User Name</label>
                                  <input id="" class="form-control" type="text">
                              </div>
                          </div>    
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="" class="control-label">Email</label>
                                  <input id="" class="form-control" type="text">
                              </div>
                          </div>    
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="" class="control-label">Password</label>
                                  <input id="" class="form-control" type="text">
                              </div>
                          </div>  
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="" class="control-label">Mobile Number</label>
                                  <input id="" class="form-control" type="text">
                              </div>
                          </div>   
                          <div class="col-md-12">
                              <div class="form-group add-membrs">
                                      <h5>Module rights to be given:
                                      </h5>
                                      <ul>
                                        <li>
                                             Dashboard 
                                             <label class="container_check">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                             </label>
                                        </li>
                                         <li>
                                             Order Management
                                             <label class="container_check">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                             </label>
                                        </li>
                                         <li>
                                             Account Management 
                                             <label class="container_check">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                             </label>
                                        </li>
                                         <li>
                                             Payment Management  
                                             <label class="container_check">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                             </label>
                                        </li>
                                         <li>
                                             Member Management 
                                             <label class="container_check">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                             </label>
                                        </li>
                                         <li>
                                             Report Generation  
                                             <label class="container_check">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                             </label>
                                        </li>
                                         <li>
                                               Chat Management 
                                               <label class="container_check">
                                                  <input type="checkbox">
                                                  <span class="checkmark"></span>
                                             </label>
                                         </li>
                                          <li>
                                             Product Management 
                                             <label class="container_check">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                           </label> 
                                         </li>
                                      </ul>
                                    </div>
                          </div>    
                          <div class=" col-sm-12 col-md-12">
                              <div class="form-group padding-top-10">
                                  <button class="btn btn-primary mr-5" type="" data-target="#unblockUser" data-toggle="modal">Add and Generate Login</button>
                                  <button class="btn btn-danger" type="submit">Cancel</button>
                              </div>
                          </div>
                   </div>
             </form>  
            </div> 
          </div>
         </div>
         <div class="modal-footer"></div>
       </div>
     </div>      
   </div>
