<div class="login-middle">
  <div class="login">
    <div class="login-body">
      <a class="login-brand" href="javascript:void(0)">
        <img class="img-responsive" src="assets/img/logo-blk.png" alt="logo">
      </a>
      <div class="login-form">
        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="email">Enter Email</label>
            <input id="email" [(ngModel)]="forgotPassword.email" #email="ngModel" 
            [ngClass]="{'is-invalid': f.submitted && email.invalid}" class="form-control" type="email" name="email" required>
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email id is required</div>
          </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit">Send Otp</button>
        </form>
      </div>
    </div>
  </div>
</div>