<app-header></app-header>
<div class="layout-main">
<app-left-sidebar></app-left-sidebar>
<div class="profilePage"></div>
<div class="layout-content">
 <div class="row gutter-xs">
    <div class="profile-box">
        <div class="card text-center">
          <div class="card-image">
            <div class="overlay">
              <div class="overlay-gradient"> 
                <img style="width: 100%;height: 400px;" class="card-img-top img-responsive" [src]="ImageUrl" alt="Instagram App">
              </div>
            </div>
          </div>
          <div class="card-avatar">
            <a class="card-thumbnail rounded sq-100">
              <img class="img-responsive" style="width: 100%;" [src]="ImageUrl">
            </a>
          </div>
          <div class="card-body">
            <h3 class="card-title">{{adminData.First_Name | uppercase}} {{adminData.Last_Name | uppercase}}</h3>
            <p class="card-text">
              <span class="app-users">
               <span class="icon icon-map-marker"></span>
               <strong>City</strong>: {{adminData.city | titlecase}}
              </span>
            </p>
            <p class="card-text">
              <span class="app-users">
               <span class="icon icon-envelope"></span>
               <strong>Email</strong>: {{adminData.email}}
              </span>
            </p>
            <p class="card-text">
              <span class="app-users">
               <span class="icon icon-phone"></span>
               <strong>Phone</strong>: {{adminData.mobile_number}}
              </span>
            </p>
            <p class="card-text">{{adminData.description}}</p>
            <div class="col-md-12 text-center">
                <button class="btn btn-primary btn-sm mr-5" type="button" routerLink="/edit-profile">Edit profile</button>  
                  <button class="btn btn-primary btn-sm" type="button" routerLink="/change-password">Change Password</button> 
           </div>
          </div>
        </div>
      </div>
 </div>
</div>
<app-footer></app-footer>
</div>