<div class="layout-sidebar">
  <div class="layout-sidebar-backdrop"></div>
  <div class="layout-sidebar-body">
    <div class="custom-scrollbar">
      <nav id="sidenav" class="sidenav-collapse collapse">
        <ul class="sidenav">
          <li class="sidenav-heading">Navigation</li>
          <li class="sidenav-item dashboardPageNav" routerLinkActive='active'>
            <a routerLink="/dashboard" aria-haspopup="true">
              <span class="sidenav-icon icon icon-home"></span>
              <span class="sidenav-label">Dashboard</span>
            </a>
          </li>
          <li class="sidenav-item subadminPageNav" routerLinkActive='active'>
            <a routerLink="/farmer_list" aria-haspopup="true">
              <span class="sidenav-icon icon icon-male"></span>
              <span class="sidenav-label">Farmer Management</span>
            </a>
          </li>
          <li class="sidenav-item subadminPageNav" routerLinkActive='active'>
            <a routerLink="/agronomist_list" aria-haspopup="true">
              <span class="sidenav-icon icon icon-gift"></span>
              <span class="sidenav-label">Agronomist Management</span>
            </a>
          </li>
          <li class="sidenav-item subadminPageNav" routerLinkActive='active'>
            <a routerLink="/supplier_list" aria-haspopup="true">
              <span class="sidenav-icon icon icon-truck"></span>
              <span class="sidenav-label">Supplier Management</span>
            </a>
          </li>
           <!-- <li class="sidenav-item subadminPageNav" routerLinkActive='active'>
             <a routerLink="/education_list" aria-haspopup="true">
               <span class="sidenav-icon icon icon-book"></span>
               <span class="sidenav-label">Education List</span>
             </a>
           </li> -->
            <!-- <li class="sidenav-item subadminPageNav" routerLinkActive='active'>
              <a routerLink="/institute_list" aria-haspopup="true">
                <span class="sidenav-icon icon icon-building"></span>
                <span class="sidenav-label">Institute List</span>
              </a>
            </li> -->
            <!-- <li class="sidenav-item subadminPageNav" routerLinkActive='active'>
              <a routerLink="/idcard_list" aria-haspopup="true">
                <span class="sidenav-icon icon icon-group"></span>
                <span class="sidenav-label">Id card list</span>
              </a>
            </li> -->
            <!-- <li class="sidenav-item subadminPageNav" routerLinkActive='active'>
              <a routerLink="/agro_tech_spec_list" aria-haspopup="true">
                <span class="sidenav-icon icon icon-book"></span>
                <span class="sidenav-label">Agro-tech Specification</span>
              </a>
            </li> -->
            <li class="sidenav-item has-subnav accountNav">
              <a aria-haspopup="true" aria-expanded="true">
                <span class="sidenav-icon icon icon-book"></span>
                <span class="sidenav-label">Dictionary Settings</span>
              </a>
              <ul class="sidenav-subnav collapse" aria-expanded="true">
                <li class="accNav-a sidenav-item"><a routerLink="/education_list">Education List</a></li>
                <li class="accNav-a sidenav-item"><a routerLink="/institute_list">Institute List</a></li>
                <li class="accNav-a sidenav-item"><a routerLink="/idcard_list">Id card list</a></li>
              <li class="accNav-a sidenav-item"><a routerLink="/agro_tech_spec_list">Agro-tech Specification</a></li>
              </ul>
            </li>
           <!-- <li class="sidenav-item subadminPageNav" routerLinkActive='active'>
              <a routerLink="/user-management" aria-haspopup="true">
                <span class="sidenav-icon icon icon-users"></span>
                <span class="sidenav-label">User Management</span>
              </a>
          </li> 
          <li class="sidenav-item subadminPageNav" routerLinkActive='active'>
            <a routerLink="/professional-management" aria-haspopup="true">
              <span class="sidenav-icon icon icon-users"></span>
              <span class="sidenav-label">Professional Management</span>
            </a>
          </li>
          <li class="sidenav-item subadminPageNav" routerLinkActive='active'>
            <a routerLink="/job-categorie" aria-haspopup="true">
              <span class="sidenav-icon icon icon-users"></span>
              <span class="sidenav-label">Job Categorie</span>
            </a>
          </li> -->
          <!-- <li class="sidenav-item subadminPageNav" routerLinkActive='active'>
            <a routerLink="/content_management" aria-haspopup="true">
              <span class="sidenav-icon icon icon-users"></span>
              <span class="sidenav-label">Content Management</span>
            </a>
          </li>


         
          
          <li class="reportsPageNav" routerLinkActive='active'>
              <a routerLink="/reports" aria-haspopup="true">
                <span class="sidenav-icon icon icon-list"></span>
                <span class="sidenav-label">Report Generation</span>
              </a>
          </li>
          <li class="sidenav-item settingsPageNav" routerLinkActive='active'>
              <a routerLink="/setting" aria-haspopup="true">
                <span class="sidenav-icon icon icon-cog"></span>
                <span class="sidenav-label">Settings</span>
              </a>
          </li> -->
      </ul>
      </nav>
    </div>
  </div>
</div>