<app-header></app-header>
<div class="layout-main">
<app-left-sidebar></app-left-sidebar>
<div class="profilePage"></div>
    <div class="layout-content">
        <div class="layout-content-body">
            <div class="title-bar">
                <h1 class="title-bar-title">
                  <span class="d-ib">Change Password </span>
                  <!-- <a href=>Back</a> -->
                </h1>
            </div>
            <div class="row gutter-xs">
                <div class="col-md-8 card panel-body" id="">
                    <div class="col-sm-12 col-md-12">
                        <div class="demo-form-wrapper">
                            <form class="form form-horizontal" [formGroup]="changePassword">
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <label for="" class="control-label">Old Password</label>
                                        <input formControlName="old_password" class="form-control" type="password" [ngClass]="{'is-invalid': submitted && f.old_password.errors}">
                                        <div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
                                            <div *ngIf="submitted && f.old_password.errors.required">Old password is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <label for="" class=" control-label">New Password</label>
                                        <input formControlName="new_password" minlength="6" class="form-control" type="password" [ngClass]="{'is-invalid': submitted && f.new_password.errors}">
                                        <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                                            <div *ngIf="submitted && f.new_password.errors.required">New password is required</div>
                                            <div *ngIf="submitted && f.new_password.errors.minlength">New password must contains 6 characters.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <label for="" class=" control-label">Confirm Password</label>
                                        <input formControlName="confirm_password" class="form-control" type="password" [ngClass]="{'is-invalid': submitted && f.confirm_password.errors}">
                                        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                            <div *ngIf="submitted && f.confirm_password.errors.required">Confirm password is required</div>
                                            <div *ngIf="submitted && f.confirm_password.errors.mustMatch">Password not matched</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class=" col-sm-8  col-md-8 ">
                                        <button class="btn btn-primary btn-block " type="submit" (click)="submit()">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<app-footer></app-footer>
</div>